* {
    box-sizing: border-box;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue";
    position: relative;
}

html,
body {
    margin: 0;
}
.ql-editor {
    /* overflow-y: scroll; */
    min-height: 300px;
}

.ql-tooltip {
    left: 0 !important;
}
